<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.puddle.sleepcontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" /> <!--  11 is HONEYCOMB, (3.0), 16 is JELLY BEAN (4.1) -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--  <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/pictures_icon_128"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity
            android:name=".SleepControlActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="@string/photo_activity_name"
            >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_name"
            android:theme="@android:style/Theme.DeviceDefault"
            >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_activity_name"
            android:theme="@android:style/Theme.DeviceDefault"
            >
        </activity>
        <receiver android:name="uk.co.puddle.sleepcontrol.alarms.WakeAlarmReceiver"/>
        <receiver android:name="uk.co.puddle.sleepcontrol.alarms.SnoozeAlarmReceiver"/>
        <receiver android:name="uk.co.puddle.sleepcontrol.alarms.BootReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="uk.co.puddle.sleepcontrol.service.SleepIntentService" />
    </application>

</manifest>
