<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.puddle.photoframe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--  <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/pictures_icon_128"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:largeHeap="true"
        > <!--  was: android:theme="@style/AppTheme" -->
        <activity
            android:name="uk.co.puddle.photoframe.PhotoControlActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.puddle.photoframe.PhotoActivity"
            android:label="@string/photo_activity_name"
            >
        </activity>
        <activity
            android:name="uk.co.puddle.photoframe.prefs.SettingsActivity"
            android:label="@string/settings_activity_name"
            >
        </activity>
        <activity
            android:name="uk.co.puddle.photoframe.HelpActivity"
            android:label="@string/help_activity_name"
            >
        </activity>
        <receiver android:name="uk.co.puddle.photoframe.alarms.WakeAlarmReceiver"/>
        <receiver android:name="uk.co.puddle.photoframe.alarms.SnoozeAlarmReceiver"/>
        <receiver android:name="uk.co.puddle.photoframe.alarms.BootReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="uk.co.puddle.photoframe.service.SleepIntentService" />
    </application>

</manifest>
